<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="interno/layout/templateInterno">

<section layout:fragment="content" class="sigma-section container">


		<link rel="stylesheet"
			th:href="@{/vendors/bootstrap/bootstrap.min.css}" />
		<link rel="stylesheet"
			th:href="@{/vendors/bootstrap-treeview/bootstrap-treeview.css}" />
		<script th:src="@{/vendors/jquery/jquery-3.1.1.min.js}"></script>
		<script th:src="@{/vendors/bootstrap/bootstrap.min.js}"></script>
		<script th:src="@{/vendors/jquerymask/jquery.mask.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/vendors/validator/validator.min.js}"></script>

		<link rel="stylesheet" th:href="@{/sigma/css/notificacao.css}" />
	<link rel="stylesheet" th:href="@{/vendors/font-awesome/4.7.0/css/font-awesome.min.css}"/>



<div class="container">
    <nav>
<div class="wrapper">
    <ul class="menu">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Setting</a></li>
        <li><a href="#" id="teste"><i class="fa fa-bell"></i>Notifications</a></li>
        <li><a href="#">Logout</a></li>
    </ul> 
</div>
</nav>
</section>
<th:block layout:fragment="sigma-js">

	<script type="text/javascript" th:src="@{/sigma/listaNotificacao.js}"
		DEFER="DEFER"></script>


</th:block>

</html>